<!DOCTYPE =<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Av conferencing</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <style>
      .lemon {
        float: left;
        background-color: #00008b;
        padding: 12px;
      }
      label {
        color: white;
        padding: 2px;
      }
    </style>
  </head>
  <body>
    <strong>This is our web conferencing Window!!!</strong><br />
    <form>
      <div class="lemon">
        <label for=""><strong>Enter the name by which u want to join-in:</strong></label><br />
        <input
          type="text"
          id="mun"
          name="mun"
          placeholder="Enter you meet name"
          required
        /><br />
        <label for="homepage"><strong>Link to join-in :</strong></label></br>
        <input type="url" id="meetplace" name="meetplace" placeholder = "Enter the Meet link"/><br/>
        <button type="submit"><a href="/Meet">Hop-in</a></button>
      </div>
    </form>
  </body>
</html>
{% comment %} {% endcomment %}
